
<ul class="nav nav-list tree">
{% for menu in menus recursive %}
    <li>
        <div class="treeitem">
        {% if menu.is_folder %}
            {% if menu.url %}
            <span class="tree-toggle nav-header glyphicon glyphicon-folder-open blue"></span>
            <a href="{{ '/a'+menu.url }}" data-toggle="tooltip" title="Tooltip is missing!">{{ menu.title }}</a>
            {% endif %}

            {% if menu.children %}
            <ul class="nav nav-list tree" style="display: block;">
              {{ loop(menu.children) }}
            </ul>
            {% endif %}
        {% else %}
            <span class="glyphicon glyphicon-file blue"></span>
            <a href="{{ '/a'+menu.url }}" data-toggle="tooltip" title="Tooltip is missing!">{{ menu.title }}</a>
        {% endif %}
        </div>
    </li>
{% endfor %}
</ul>
