<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
/* actions for sidebar */
$('.tree-toggle').click(function () {
	$(this).parent().children('ul.tree').toggle(200);

    if ($(this).hasClass('glyphicon-folder-open')) {
        $(this).toggleClass("glyphicon-folder-open glyphicon-folder-close");
    } else if ($(this).hasClass('glyphicon-folder-close')) {
        $(this).toggleClass("glyphicon-folder-close glyphicon-folder-open");
    }

});
</script>



