<!doctype html>
<html lang="zh-ch">
    <head>
        {% include 'header.html' %}
    </head>

    <body>
        {% include 'nav.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar">
            <!--<div class="well">-->
                {% include 'menu.html' %}
            <!--</div>-->
        </div>

        <div class="main markdown-body">
            {{ article|safe }}
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
    </body>
</html>